{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block header %}
<h1>Welcome to your First website</h1>
{% endblock %}


{% block content %}
<p>Click here to order a froyo.</p>
<a href = 'http://127.0.0.1:3000/froyo'>Froyo Form</a>
<br/> <br/>
<p>Click here to access a favorite form</p>
<a href = 'http://127.0.0.1:3000/favorites'>Favorite Form</a>
<br/> <br/>
<p>Click here to enter a secret message</p>
<a href = 'http://127.0.0.1:3000/secret_message'>Secret message</a>
<br/> <br/>
<p>Click here to access a calculator</p>
<a href = 'http://127.0.0.1:3000/calculator'>Calculator</a>
<br/> <br/>
<p>Click here to access your horoscope</p>
<a href = 'http://127.0.0.1:3000/horoscope'>Horoscope</a>
{% endblock %}
