<!--  creating a form -->

<h1>Please fill out the form to order a pizza</h1>
<form action="/results" method="GET">
    Enter your name:
    <input type="text" name="full_name">
    <br>
    Email:
    <input type="text" name="email">
    <br>
    Phone Number:
    <input type="text" name="phone">
    <br>
    Choose a crust:
    <input type="text" name="crust">
    <br>
    Size:
    <input type="text" name="size">
    <br>
    Enter your toppings:
    <input type="text" name="list_of_toppings">
    <br>
    <input type="submit" value="Submit">
 </form>